$thead-bg-color-1: red ;
$thead-bg-color-2: yellow;

$text-color:blue;
$secondary-text-color: green ;
$border-color: deeppink;
$input-border-color: $border-color;

$table-bg: orange;
$highlight-color: purple;