$thead-bg-color-1: #4286f4;
$thead-bg-color-2: #4165f4;

$text-color: #808080;
$secondary-text-color: #FFFFFF;
$border-color: #e6e8f4;
$input-border-color: #999999;

$table-bg: #FFFFFF;
$highlight-color: #dbd1ff;